{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}Password Reset{% endblock %}
{% block main %}
<style>ul
	{
		list-style-type: none;

	}
	li{
		list-style-type: none;
	}
	body{
		padding-bottom: 5px;
	}
	.alert{
		padding:2px;
	}
</style>
<div class="container" style="padding-left:10%;padding-right:10%">
	<h2 class='page-header'>Password Reset</h2>
{% if validlink %}
<p>Enter a new password</p>


<!--<form method="post" action=".">
  
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
-->

<form action="." method="post" style="max-width:300px">
	{% csrf_token %}

	{% for field in form %}
	<div class="fieldWrapper" style="padding-bottom:5px;width:100%;">

		<p>{{ field.label_tag }}</p>

		{{ field }}

		<script>$("#id_{{ field.html_name }}").addClass('well well-sm');</script>
		{{ field.errors }}
	</div>
	<script>$('.errorlist').removeClass('errorlist').addClass('alert alert-danger');
	</script>

	{% endfor %}
	<input class='btn btn-md btn-primary' type="submit" value="{% trans 'Submit' %}" />
</form>


{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
</div>
{% endblock %}
