{% extends "base.html" %}

{% load riverwatch_tags %}
{% block meta_title %}{{img.image_name}}{% endblock %}
{% block main %}
    <div class="container"style="padding-top:10px">


<style>
#map_controls { position: relative; width: 100px; }
#wrapper { position: absolute; }
  #tag_container {   
    width: auto;
    display: none;
  }
  #tag_dialog {
    width: 500px;
    height: auto;
    display: block;
  }
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}
</style>
  <!-- <div id="fb-root"></div> -->
  <!--<script src="//connect.facebook.net/en_US/all.js#appId=347343208688512&amp;xfbml=1"></script> -->
 

          <div class='row-fluid'>
            <div class='panel panel-info'>
            <div class="panel-heading">
              <h2>{{img.image_name}}</h2>
              <!-- an ugly separator because the name looks goofy hanging out by itself -->
              
            </div>
            <div class="panel-body">
            
            <div class='span11' style='text-align:center;'>
              <div id='map_container'>
              </div>
              <a  href='{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}' title='{{img.image_name}}'><img id='img' class="img-responsive" src='{{ STATIC_URL }}uploaded-images/{{img.image_path}}.{{img.extension}}' height='450' alt='Image - {{img.image_name}}' /></a>
            </div>
            </div>
            <div class="panel-footer">
           
            <div class="btn-group">
            <div>
             <div class='span12' id='img_details'>
             {% if user.is_staff %} 
             <button type="button" id="moderate" class='btn btn-warning btn-sm' onclick="location.href='{% url 'admin:riverwatch_image_change' img.id %}'" rel='tooltip' title='Jump to admin panel'>Admin: Change/Remove Image</button> 
             {% endif %}
	      {% if user.is_staff and not img.is_approved %} 
             <button type="button" id="moderate" class='btn btn-success btn-sm' onclick="location.href='/approve/{{img.id}}'" rel='tooltip' title='Approve Image'>Admin: Approve Image</button> 
	     <button type="button" id="moderate" class='btn btn-danger btn-sm' onclick="location.href='/reject/{{img.id}}'" rel='tooltip' title='Reject Image'>Admin: Reject Image</button> 
            {% endif %}
            <button type="button" href='#' id='loc' class="btn btn-primary btn-sm">Toggle map</button>
             <button type="button" sytle="display:none;" href='#' id='river'class="btn btn-info btn-sm">Toggle Rivers</button>
            
            </div>
            </div>            <div style="">
            Location: ({{img.latitude}}, {{img.longitude}})</div>
            
            
            <div style="">Submitted by: {{img.submitter}}</div>
            <div style="">Uploaded: {{img.submission_date}}</div>
            
            </div> 
             

             



   <!--<span class='detail'>
   Share this image on Facebook - 
        <fb:login-button show-faces="false" width="200" max-rows="1"
		perms="publish_stream" onlogin="postonwall()">Click to announce on Facebook</fb:login-button>
 </span>-->


 <div class='row-fluid' >
 <span id='tags'  class='detail'>Tags
   {% for tag in image_tags %}
   <span class='tag'>| {{tag.tag_text}} </span>
   {% endfor %}

 </span> 
 {% if request.user.is_staff %}<a href='#' id='add_tag'>+</a>
   <div id="tag_container" >
    <div >Add existing or new tags seperated by commas: 
      <input type='text' id='tag_text' style='width:25%' autocomplete='off'></input>
      {% csrf_token %}
      <button class='btn btn-success' id='add_tag_submit' method=''>Submit</button>
    </div>

  </div>
 </div>
{% endif %}
</div>
  <div class='row-fluid' style='padding:0 50px 25px 50px'>
    <div class='span11'style=" display:block; margin-left: auto; margin-right: auto; word-wrap: break-word;" >
    <br />
       <h3>Description</h3>
       <span>
           {% if not img.image_description  %}
               <i>No description provided</i>
	   {% else %}
               {{img.image_description}}
           {% endif %}
       </span>
	


</div></div></div></div>
<div class='row-fluid'>

<h3>Comments</h3>
<div class="fb-comments" data-href="http://{{ site.domain }}/image/{{img.id}}"  data-numposts="5" data-colorscheme="light"></div>




<div id="map_canvas" style="height:450px; width:100%;"></div>

{% endblock %}

{% block page_specific_javascript %}

<script type='text/javascript'>
  {% autoescape off %}
  $("#map_canvas").hide();
      $("#river").hide();
  {% if user.is_authenticated %}
  var current_uid = {{ user.id }}

  var user_name = "{{ user }}"
  var typeAheadSource = [
  {% for tag in all_tags %}
  "{{tag.tag_text}}", 
  {% endfor %}]
  var image_tags = [
  {% for tag in image_tags %}
      "{{tag.tag_text}}", 
  {% endfor %}];
  
  {% endif %}
  $(".login-button").click(function() { $("div.login.alert").remove(); });
  $("button.vote").click(function(e) {
    e.preventDefault();
    var actionURL = $(this).parent().attr("action");
    var data = {                
      "csrfmiddlewaretoken":$("#csrf").find('input').val(),
    };
            //console.log(data);
            $.post(actionURL, data, function(data){
                //TODO, alter to success icon
              })
            .error(function(data){
                //TODO, display an error?
             });
         });
	
        var lat = {{img.latitude}}, lng = {{img.longitude}};
        var img_id = {{img.id}};
{% endautoescape %}
</script>


<script type="text/javascript" src="{{ STATIC_URL }}js/map-coords.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAwwi-pYumS3O9OxbscA3pbDb_MPuWA6Eo&libraries=geometry&sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map-final-test.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/maplabel-compiled.js"></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/image.js'></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
