{% extends "base.html" %}
{% block meta_title %}Upload{% endblock %}
{% block main %}
<style type="text/css">  {
    list-style-type: none;

  }
  li{
    list-style-type: none;
    }
  .alert{
    
    }</style>
<div class="container">
<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Submit</h1>
			</div>
		</div>

		<div class="" id="loginModal">
			<div class="modal-body col-lg-9">
				<div class="well">
					
						<div class="panel panel-info">
					
					<div id="myTabContent" class="panel-heading">
						
								<fieldset>
									
									<form  method="POST" enctype="multipart/form-data">
										{% csrf_token %}
										{% for field in form %}
  <div class="fieldWrapper" style="padding-bottom:5px;width:100%;">

    <p>{{ field.label_tag }}:</p>

    {{ field }}

    
    
  </div>
  {{ field.errors }}

    {% endfor %}
    <script>$('.errorlist').removeClass('errorlist').addClass('alert alert-danger');
    </script>
									<button id="submit_btn" class='btn btn-success' type="submit" value="Submit">Upload</button>
									</form></div>	
								</fieldset>
							
						

					</div>

				
<!-- ============================================================================================================= -->
<!-- ============================================================================================================= -->
<!-- ============================================================================================================= -->

				<h1 class="page-header">Hints</h1>
				<p>Uploading photographs and submitting reports requires
					specific information. The more specific the information the more
					useful it is for data collection and actioning the process of
					resolving the pollution issue. When taking photographs try and get
					one wide angle photo that includes the waterway and the source of
					pollution. We accept photos of past and present damage to waterways
					but it is more useful to have photos of current pollution and its
					source. For instance a photo of stock accessing a waterway needs to
					show the stock and the waterway, a photo of an outfall pipe into a
					river or rubbish ina river needs to show both the outfall and the
					river or both the rubbish on the riverside and the river. Taking
					more than one photo is advised and is very useful for data
					collection. If you can photograph evidence linking responsible
					parties to the pollution then please report these as well (eg.
					Stock ear tags, Names on rubbish, Pipe coming from a nearby shed).

					Your photos are Geo referenced and this helps identify the place
					and people responsible, so make sure your GPS is turned on.</p>

			</div>

		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h2 class="page-header">Image Guidelines</h2>
					<div class="alert alert-danger">
						<p>No Memes</p>
						<p>No Angry Farmers</p>
						<p>No Famous People</p>
						<p>No Porn</p>
					</div>
					<div class="alert alert-success ">
						<p>Yes to Cows</p>
						<p>Yes to Sheep</p>
						<p>Yes to Horses</p>
						<p>Yes to Rivers</p>
						<p>Yes to Poo</p>
						<p>Yes to Farms</p>
						<p>Yes to Action Shots</p>
						<p>Yes to Lakes</p>
						<p>Yes to Riverbank Damage</p>
						<p>Yes to Rubbish</p>
						<p>Yes to Outfall Pipes</p>
						<p>Yes to Dead Fish</p>
						<p>Yes to Polluted Water</p>
						<p>Yes to Riparian Planting</p>
						<p>Yes to New Fences</p>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

