{% extends "base.html" %}
{% block meta_title %}Details{% endblock %}
{% block page_style %}
 <style>
        #wrapper { position: relative; }
        #map_controls { position: absolute; width: 100px; left: 5px; top: 5px;}
      </style>
<style>
	#map_canvas {
		width:100%;
		margin-left: auto;
		margin-right: auto;
		height: 668px;
		background-color: #fff;
	}
</style>
{% endblock %}
{% block main %}
<div class="container" style="">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" style="">
				Photo Upload <small>Enter image details and location</small>
			</h1>
		</div>
	</div>
	<div class="row" style="padding-bottom: 0px;">
		<div class="col-lg-5">

			<div class="panel panel-info">

				<div class="panel-heading">
					<h3>Image Details</h3>
				</div>
				
				<img src="{{ STATIC_URL }}tmp/{{hash}}.{{extension}}" class="img-responsive" style=" width:auto; max-width:100%; max-height: 200px; margin-left: auto; margin-right: auto;" /></img>
			
		


		
				<div class="panel-footer">
				
				<form action="{% url 'riverwatch.forms.submission_details' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}


					<div class="form-group col-lg-12">
						<label for="name">Image Name</label>
						<input style="width: 100%" type="text" id="name" name="imageName" class="span4" maxlength="100" placeholder="Image Name" />
					</div>
					<div class="form-group col-lg-12">
						<label for="name">Tags (Optional)</label>
						<input style="width: 100%" type="text" id="tag_text" name="taginput" class="span4" autocomplete='off'></input><a type="button" href="#" class='btn btn-default' id='add_tag'>Add</a>
						<input type="hidden" id="tags" name="tags" />
					</div>
					<div class="form-group col-lg-12">
						<label for="name">Tags:</label>
						<span id="currentTags">None</span>
					</div>
					<div class="clearfix"></div>
					<div class="form-group col-lg-12">
						<label for="description">Image Description</label>
						<textarea style="width: 100%" id="description" name="description" class="form-control4" rows="3" ></textarea>
					</div>
					<input type="hidden" name="hash" value="{{hash}}" >
					<input type="hidden" name="extension" value="{{extension}}" >

					<div class="form-group col-lg-12">
						<label for="lng">Longitude</label>
						<input class="span4" id="lng" name="longitude" type="text" value="" readonly="readonly" />
					</div>
					<div class="form-group col-lg-12">
						<label for="lng">Latitude</label>
						<input class="span4" id="lat" name="latitude" type="text" value="" readonly="readonly" />
					</div>
					<div class="form-group col-lg-12">
						<input type="hidden" name="save" value="contact">
						<button type="submit" onclick="return defaultGPS();" class="btn btn-md btn-success">Upload Image</button>
					</div>

				</form>
				</div>
			</div>
		</div>

	
	
		<div class="col-lg-7" style="max-height:767px">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Location<small>          Drag and drop the marker, or tap to choose a location</small></h3>
				</div>
				<div id="wrapper">
    <div id="map_canvas"></div>
  <div class "dropdown" id="map_controls">
  <button id="rivers" name="rivers" value="Toggle Waterways" type="button" class="btn btn-info btn-sm">Toggle Waterways</button>
  
</div>

  </div>




      
        </div>
			</div>
		</div>
		
	</div>
</div>

{% endblock %}

{%block page_specific_javascript %}
<script>var submission = true;</script>
<script>
 $( "#region" ).click(function(event){
    event.preventDefault();
    var regionName = event.target.id;
   regionDropdown(regionName);

 });

 $("#map_controls").on('click','#rivers', function(event){
 event.preventDefault();
   displayRivers();
   
 });
</script>
  
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAwwi-pYumS3O9OxbscA3pbDb_MPuWA6Eo&libraries=geometry&sensor=false"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/map-final-test.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}js/map-coords.min.js"></script>  
   <script type="text/javascript" src="{{ STATIC_URL }}js/maplabel-compiled.js"></script>
   
   
   
<!-- {{all_tags}} -->  
<script type='text/javascript'>
	var typeAheadSource = [
	{% for tag in all_tags %}
	"{{tag.tag_text}}", 
	{% endfor %}]
	$("#tag_text").typeahead({source:typeAheadSource});
	$(document).ready(function(){
		var tag_count = 0;
		$("#name").change(function() {
			if($("#name-error").css("display") !== "none") $("#name-error").hide('slow');
		});
		$("#submit").click(function(e){
            //console.log(e);
            if($("#name").val() === ""){
            	e.preventDefault();
            	$("#name-error").show('slow');
            }
        });
		$("#add_tag").click(function(event){
			event.preventDefault();
			if($("#tag_text").val() == '') return;  
			$("#tags").val($("#tags").val()+$("#tag_text").val()+",");
			if($("#currentTags").html() == 'None') {
				$("#currentTags").html($("#tag_text").val());
			}
			else {
				$("#currentTags").html($("#currentTags").html()+" | "+$("#tag_text").val());
			}
			if(tag_count % 4 == 0){
				$("<div class='row-fluid' id='tag_container_"+Math.floor(tag_count/4)+"'></div>").appendTo($("#tag_container"));
			}
			tag_count++;
			$($("#tag_text")).val("");
		});

	});

	function defaultGPS() {
		if($("#lat").val() === "-41.29009971493793" && $("#lng").val() === "174.76815266036988") {
			return confirm("Do you want to leave the location values unchanged?\nYou can change them with the map on the right (Click cancel)!");
		}
	}
</script>

{% endblock %}
